body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #87ceeb;
}
p {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}
#center-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

img{
    height: 250px;
    width: 250px;
}

.mindset img {
    height: 100px;
    width: 300px;
}

.fight img, .tease img {
    height: 400px;
    width: 300px;
}
